@font-face {
    font-family: 'A-minha-fonte';
    src: url(../fonts/Pacifico-Regular.ttf);
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    width: 100%;
    /* height: 1000px;*/
    float: left; 
}

header{
    width: 100%;
    height: 50px;
    /* background-color: rgb(255, 255, 255); */
    background: #ffffff;
    float: left;
    padding-top: 15px;
    position: fixed;
}

header div{
    text-align: center;
}

header div:first-child{
    float: left;
    width: 100px;
    height: 100px;
    font-size: 20px;
    color: #e3e3e3;
    margin-top: 10px;
}

header div:first-child span{
    padding: 10px;
    border: 2px solid #e3e3e3;
    border-radius: 10px;
}

header div:nth-child(3){
    float: right;
    width: 85px;
    height: 100px;
    padding-right: 15px;
}

header div:nth-child(2){
    float: left;
    width: calc(100% - 215px);
    font-family: 'A-minha-fonte';
    color: #f6755e;
    font-size: 30px;
    font-weight: bold;
}

header div button{
    width: 100%;
    height: 25px; 
    background-color: #fff;
    color: #727a82;
    border: 2px solid #727a82;
    border-radius:5px;
}

.hero{
    width: 100%;
    height: 600px;
    background-image: url(../images/banner.jpg); /* colocar o caminho relativo da imagem*/
    background-position: top center;
    float: left;
    margin-top: 65px;
}

.hero div{
    width: 70%;
    height: 200px;
    text-align: center;
    /*margin-left: auto;
    margin-right: auto; */
    margin-top: 200px;
    margin-left: 15%;
    margin-right: 15%;
    float: left;
}

.hero div h1{
    color: #25a2c3;
    font-size: 40px;
    margin: 20px;
    font-weight: bold;
}

.hero div p{
    color: #727a82;
    font-size: 18px;
    margin: 20px 0;
    line-height: 25px;
}

.hero div button{
    width: 140px;
    background-color: #f6755e;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.section2{
    width: calc(100% - 200px);
    /*height: 600px; */

    float: left;
    padding: 100px;
}

.coluna{
    width: 33.33%;
    /*height: 400px; */
    float: left;   
}

.coluna h2{
    font-weight: bold;
    color: #25a2c3;
    padding-bottom: 30px;
    font-size: 20px;
}

.coluna p{
    color: #727a82;
}

.coluna div:first-child{
    margin-bottom: 50px;
    margin-top: 50px;
}

.coluna div{
    text-align: right;
}

.coluna1 div, 
.coluna3 div{
    padding: 10px;
}

.coluna2 div{
    text-align: center;
}

.moldura{
    width: 300px;
    height: 300px;
    margin: 0 auto;
    border-radius: 150px;
    overflow: hidden;
    margin-top: 150px;
}

.moldura img{
    width: 100%;
}

.coluna3 div{
    text-align: left;
}

.section3{
    width: calc(100% - 100px);
    /*height: 300px;*/
    background: #f6755e;
    color: #fcdcd6;
    float: left;
    text-align: center;
    padding: 50px;
}

.section3 h2{
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 40px;
}

.bold span{
    font-weight: bold;
}

.italico{
    margin-bottom: 40px;
    font-style: italic;  
}

section.article-section{
    width: 100%;
    background: #fff;
    float: left;
    padding-top: 50px;
    padding-bottom: 50px;
    /* padding: 50px 0; */
}

.article-section ul{
    width: 70%;
    float: left;
    margin-left: 15%;
}

.article-section li{
    width: calc(33.33% - 42px);
    /*height: 200px; */
    float: left;
    margin: 0 20px;
    border: solid 1px #dee1e3;
    border-radius: 10px;
    overflow: hidden;
}

.moldura1{
    width: 100%;
    border-radius: 10px;
    float: left;
}

.moldura1 img{
    width: 100%; 
}

.article-section h2{
    font-weight: bold;
    font-size: 20px;
    float: left;
    margin-top: 20px;
    padding: 20px;
}

.article-section p{
    padding: 20px;
    float: left;
}

footer{
    width: 100%;
    height: 200px;
    background: #25a2c3;
    float: left;
}

footer h2{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-top: 50px;
}

footer ul{
    width: 70%;
    margin-left: 15%;
}

footer li{
    width: 33.33%;
    float: left;
    margin-top: 30px;
}

footer ul:first-child{
    text-align: left;
}

footer ul:nth-child(2){
    text-align: center;
}

footer ul:nth-child(3){
    text-align: center;
}

footer p{
    padding: 20px;
    text-align: center;
    float: left;
    width: calc(100% - 40px);
}